<a href="https://colab.research.google.com/github/subin100/DataVisualization/blob/main/Exam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Subin Manandhar
##Data Visualization
## Exam 2

References:

https://github.com/nurfnick/Data_Viz

https://github.com/subin100/DataVisualization

https://stackoverflow.com/questions/61662300/computing-mean-for-average-running-pace-using-two-different-pandas-dfs

“I attest that the resources above were the only ones utilized in completing
the exam and the work included is my own and no one else from the course

In [1]:
import pandas as pd
import re
import numpy as np

### A.  Store the data as a pandas dataframe. Examine each datatype and comment on the appropriateness of each.

In [9]:
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [10]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

###B.  Remove the column that repeats the indexes and is ‘unnamed’ as a column.

dropping "unnamed: 0" from the table

In [11]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

###C.   Clean the column names to remove the unit declaration, (%), using regular expressions. The column name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming columns without using regular expressions.

In [15]:
df = df.rename(columns=lambda x: re.sub(r'[(.%)]','',x))
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

###D. Convert ‘activity day’ column into a datetime format.

In [14]:
df['activity_day'] = pd.to_datetime(df['activity_day'])

###E. Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate
datatype.

checking the datatype of total_steps

In [26]:
df['total_steps'].dtype

dtype('float64')

Replacing NaN with the float value.

In [27]:
df.total_steps = df.total_steps.replace(np.nan,1571.0)

###F. Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the
column.

In [16]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

###G. Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

In [21]:
df.groupby('workout_type').agg(['mean', 'median', 'count', 'std'])['calories']

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

###H. Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

In [19]:
df['aerobic_indicator'] = np.where(df['aerobic'] >= 30, 'True', 'False')
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,aerobic_indicator
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,False

###I. Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’

In [23]:
df1 = df.loc[df['max_cadence'] == df['max_cadence'].max()]

print('day_of_week = ' + df1.activity_day.dt.day_name().iloc[0])
print('workout_type = ' + df1.workout_type.iloc[0])

day_of_week = Wednesday
workout_type = Pool Swimming

#2.

A. Approximately how long did you work on this exam?

I spent approximately 4 hours on this exam.

B. Which was the hardest and easiest topic from this section?

The hardest pasrt was number I, I spent most of my time finding solution for that specefic problem.

I think the easiest part was number G, to find mean median of a specefic dataset.

C. Which method of cleaning data should I have spent more instructional time on?

In my opinion regualar expression might come handy in the future.