<a href="https://colab.research.google.com/github/subin100/DataVisualization/blob/main/HW_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Subin Manandhar
###Data Visualization
###Instructor: Dr Nicholas Jacob
###HW 15

In [4]:
import numpy as np
import pandas as pd 
from scipy import stats 
import matplotlib.pyplot as plt 
import seaborn as sns 
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [7]:
import re
r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

In [9]:
df1 = pd.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [10]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [11]:
cols = df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
cols

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [12]:
re.sub(r"\((.+)\)","",cols[1])

'Mountain name'

In [13]:
cols.map(lambda s: re.sub(r" ","_",s))

Index(['Rank', 'Mountain_name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent_mountain', '1st', 'y', 'n',
       'Country_(disputed_claims_in_italics)'],
      dtype='object')

In [14]:
cols.map(lambda s: s.lower())

Index(['rank', 'mountain name(s)', 'm', 'ft', 'm', 'ft', 'range',
       'coordinates', 'parent mountain', '1st', 'y', 'n',
       'country (disputed claims in italics)'],
      dtype='object')

In [15]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

In [16]:
df= (df1.iloc[:,-1].str.replace('\[(.+) \]',''))

print(df)

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.