<a href="https://colab.research.google.com/github/subin100/DataVisualization/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Subin Manandhar
###Data Visualization
###Instructor : Dr Nicholas Jacob

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project datavisualization-338803
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'parkland'
LIMIT 5

   station_id  ...             modified_date
0        3687  ... 2021-01-04 12:00:00+00:00
1        3684  ... 2021-01-04 12:00:00+00:00
2        2572  ... 2021-01-04 12:00:00+00:00
3        2575  ... 2021-01-04 12:00:00+00:00
4        2574  ... 2021-01-04 12:00:00+00:00

[5 rows x 14 columns]

Here we printed the data from bikeshare station whose property type is parkland.

In [ ]:
%%bigquery --project datavisualization-338803
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'sidewalk'
LIMIT 5

   station_id  ...             modified_date
0        1111  ... 2021-11-04 02:12:00+00:00
1          11  ... 2021-11-04 02:24:00+00:00
2        4699  ... 2021-07-27 08:25:00+00:00
3        2570  ... 2021-01-04 12:00:00+00:00
4        2496  ... 2021-01-04 12:00:00+00:00

[5 rows x 14 columns]

Now lets join two tables and check what output we get.

In [ ]:
%%bigquery --project datavisualization-338803
WITH t as(
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
WHERE property_type = 'parkland'
)
SELECT *
FROM t as table1 JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table2 ON table1.name = table2.start_station_name
limit 10

   station_id  ... duration_minutes
0        2572  ...               27
1        2572  ...               13
2        2572  ...               21
3        2572  ...               22
4        2572  ...               24
5        2572  ...               48
6        2572  ...               24
7        2572  ...               25
8        2572  ...               24
9        2572  ...               49

[10 rows x 23 columns]