<a href="https://colab.research.google.com/github/subin100/DataVisualization/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery --project datavisualization-338803

SELECT COUNT(*) as number_trips, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY number_trips DESC

Executing query with job ID: ffa737dd-440d-4d18-855b-239eb790b5b7
Query executing: 0.24s

ERROR:
 400 Syntax error: Expected end of input but got keyword SELECT at [2:1]

(job ID: ffa737dd-440d-4d18-855b-239eb790b5b7)

                 -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:SELECT COUNT(*) as number_trips, start_station_name
   2:SELECT MAX(state_bottle_retail) as max_state_bottle_retail
   3:FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
   4:GROUP BY start_station_name
   5:ORDER BY number_trips DESC
    |    .    |    .    |    .    |    .    |    .    |    .    |

In [ ]:
%%bigquery --project datavisualization-338803

WITH table as (
SELECT COUNT(*) as number_trips, start_station_name
  , RANK() OVER(ORDER BY number_trips DESC) as rank_by_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

GROUP BY start_station_name
)

SELECT start_station_name as second_highest_price
FROM table
WHERE rank_by_trips = 2
ORDER BY rank_by_trips DESC

Executing query with job ID: bc628111-d8d5-495d-99f5-dec4280ebfad
Query executing: 0.32s

ERROR:
 400 Unrecognized name: number_trips at [3:26]

(job ID: bc628111-d8d5-495d-99f5-dec4280ebfad)

                 -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:WITH table as (
   2:SELECT COUNT(*) as number_trips, start_station_name
   3:  , RANK() OVER(ORDER BY number_trips DESC) as rank_by_trips
   4:FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
   5:
   6:GROUP BY start_station_name
   7:)
   8:
   9:SELECT start_station_name as second_highest_price
  10:FROM table
  11:WHERE rank_by_trips = 2
  12:ORDER BY rank_by_trips DESC
    |    .    |    .    |    .    |    .    |    .    |    .    |